.expanded-wrapper {
  position: fixed;
  right: 0;
  background-color: black;
  z-index: 10;
  height: 100%;
  width: 70%;
}

.background {
  position: fixed;
  z-index: 5;
  height: 100%;
  width: 100%;
}

.heading {
  font-size: 25px;
  display: block;
  margin: 24px 16px;
  color: #b1a36d;
  text-decoration: none;
  background-color: black;
  border: none;
}

.overlayer img {
  padding: 16px;
}

.overlayer .close {
  background-color: black;
  border: none;
  display: block;
  margin: 48px 0 0 80%;
}

.overlayer .close img {
  padding: 0;
}

.top {
  margin-top: 60px;
  width: 100%;
}
.bottom {
  margin-bottom: 60px;
  width: 100%;
}
