.category-wrapper img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.category-wrapper h2 {
  padding: 24px 16px 0 16px;
  text-align: center;
}

.category-wrapper p {
  padding: 0 16px;
  text-align: justify;
}

.cards-wrapper {
  padding: 0 16px;
}

.category-wrapper .secundary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px auto;
}

.category-wrapper hr {
  width: 70%;
  margin-top: 16px;
  margin-bottom: 24px;
}
