.category-wrapper {
  flex-grow: 10;
}

.category-wrapper img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.category-wrapper h2 {
  padding: 24px 16px 0 16px;
  text-align: center;
}

.category-wrapper p {
  padding: 0 16px 16px 16px;
  text-align: justify;
}

.cards-wrapper {
  padding: 0 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.category-wrapper .secundary {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px auto;
}

@media (min-width: 750px) {
  .category-wrapper p,
  .category-wrapper h2,
  .cards-wrapper {
    max-width: 1200px;
    margin: 0px auto;
  }

  .category-wrapper .secundary {
    margin: 24px auto;
  }

  .category-wrapper p {
    text-align: center;
  }

  .category-wrapper hr {
    max-width: 1200px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .cards-wrapper {
    display: flex;
  }
}
