@import "./typography.css";

html,
body {
  margin: 0;
  font-family: "Mukta";
  box-sizing: border-box;
}

hr {
  border: 1px solid #837549;
  width: 70%;
}

hr.vertical {
  border: 0;
  margin: 0;
  border-left: 1px solid #837549;
  width: 0;
}

@media (min-width: 750px) {
  hr {
    width: 50%;
  }
}
