@import "./typography.css";

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Mukta";
  box-sizing: border-box;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

hr {
  border: 1px solid #837549;
  width: 70%;
}

hr.vertical {
  border: 0;
  margin: 0;
  border-left: 1px solid #837549;
  width: 0;
}

@media (min-width: 750px) {
  hr {
    width: 50%;
  }
}
