@font-face {
  font-family: "Mukta";
  src: local("Mukta"), url(../../assets/fonts/Mukta-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Mukta";
  src: local("Mukta"),
    url(../../assets/fonts/Mukta-Regular.ttf) format("truetype");
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
}
p,
span,
li {
  font-size: 18px;
}
small {
  font-size: 16px;
}
.label {
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.label:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p,
span,
small,
li,
.label {
  margin: 0;
  padding: 0;
}

@media (min-width: 750px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  p,
  span,
  li {
    font-size: 20px;
  }
  small {
    font-size: 18px;
  }
}
