@font-face {
  font-family: "Mukta";
  src: local("Mukta"), url(../../assets/fonts/Mukta-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Mukta";
  src: local("Mukta"),
    url(../../assets/fonts/Mukta-Regular.ttf) format("truetype");
  font-weight: normal;
}
